Arquivos/JE05 - Node-Red code.txt
[{"id":"57dc08ab.bd8de8","type":"tab","label":"JEO5","disabled":false,"info":""},{"id":"c2b48748.fdefc8","type":"mqtt in","z":"57dc08ab.bd8de8","name":"","topic":"JE05/pub","qos":"1","datatype":"auto","broker":"9d93bc26.0acf","x":80,"y":160,"wires":[["7caab31e.b09b6c","b6cb20e1.117a9"]]},{"id":"7caab31e.b09b6c","type":"json","z":"57dc08ab.bd8de8","name":"","property":"payload","action":"","pretty":false,"x":170,"y":240,"wires":[["6c029da4.cdeb24","6a1ca776.675268","ef079d79.8465c","fd19fdb7.6c146","3005702e.e6f27","783e415c.92aa5","a4d44982.626928","521cd376.b501cc"]]},{"id":"6c029da4.cdeb24","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var FREQ={payload:msg.payload.DATA.FREQ.toString()/100};\n\nreturn FREQ;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["e956ddf4.149f2","7ca9302.4eec8d"]]},{"id":"6a1ca776.675268","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var VARMS={payload:msg.payload.DATA.VARMS.toString().\nslice(0,1000)};\n\nreturn VARMS;","outputs":1,"noerr":0,"x":350,"y":340,"wires":[["39a2a57a.b3acca"]]},{"id":"ef079d79.8465c","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var KWHA={payload:msg.payload.DATA.KWHA.toString().\nslice(0,100000)};\n\nreturn KWHA;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["c9aae499.998d58"]]},{"id":"fd19fdb7.6c146","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var FPT={payload:msg.payload.DATA.FPT.toString()/1000};\n\nreturn FPT;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["da17e5dd.6fb538"]]},{"id":"3005702e.e6f27","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var SERRS={payload:msg.payload.DATA.SERRS.toString()};\n\nreturn SERRS;","outputs":1,"noerr":0,"x":350,"y":460,"wires":[["e63e2e18.735fa"]]},{"id":"783e415c.92aa5","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var WRSSI={payload:msg.payload.DATA.WRSSI.toString()};\n\nreturn WRSSI;","outputs":1,"noerr":0,"x":350,"y":500,"wires":[["bf4f7a59.7ecdc8"]]},{"id":"a4d44982.626928","type":"function","z":"57dc08ab.bd8de8","name":"","func":"var KWHT={payload:msg.payload.DATA.KWHT.toString()};\n\nreturn KWHT;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["627b28f4.5db268"]]},{"id":"31aaabcb.03e8a4","type":"ui_chart","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"FREQ","group":"BIN","order":"1","interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"60","x":710,"y":220,"wires":[[],[]]},{"id":"e956ddf4.149f2","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"FREQ","group":"BIN","order":1,"format":"{{value}}","min":"10","max":"70","x":590,"y":300,"wires":[]},{"id":"39a2a57a.b3acca","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"VARMS","group":"BIN","order":2,"format":"{{value}}","min":"10","max":"200","x":600,"y":340,"wires":[]},{"id":"c9aae499.998d58","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"KWHA","group":"BIN","order":3,"format":"{{value}}","min":0,"max":"80000","x":590,"y":380,"wires":[]},{"id":"da17e5dd.6fb538","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"FPT","group":"BIN","order":4,"format":"{{value}}","min":0,"max":"2","x":590,"y":420,"wires":[]},{"id":"e63e2e18.735fa","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"SERRS","group":"BIN","order":5,"format":"{{value}}","min":0,"max":"30000","x":590,"y":460,"wires":[]},{"id":"bf4f7a59.7ecdc8","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"WRSSI","group":"BIN","order":6,"format":"{{value}}","min":"-80","max":"-60","x":590,"y":500,"wires":[]},{"id":"627b28f4.5db268","type":"ui_gauge","z":"57dc08ab.bd8de8","tab":"947e5aa7.7b0e98","name":"KWHT","group":"BIN","order":1,"format":"{{value}}","min":"10","max":"10000","x":590,"y":260,"wires":[]},{"id":"7ca9302.4eec8d","type":"calculate","z":"57dc08ab.bd8de8","name":"","pauseType":"timed","calculation":"average","timeout":"1","timeoutUnits":"minutes","rate":"10","x":550,"y":220,"wires":[["31aaabcb.03e8a4"]]},{"id":"521cd376.b501cc","type":"mongodb-node","z":"57dc08ab.bd8de8","mongodb":"ebb2f574.863de8","name":"","collection":"BIN","operation":"insert","upsert":false,"multi":false,"x":360,"y":200,"wires":[["b6cb20e1.117a9"]]},{"id":"b6cb20e1.117a9","type":"debug","z":"57dc08ab.bd8de8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":160,"wires":[]},{"id":"9d93bc26.0acf","type":"mqtt-broker","z":"","name":"Padrão 1883","broker":"192.168.0.31","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"947e5aa7.7b0e98","type":"ui_tab","z":"","name":"ESP_BIN","icon":"dashboard","order":"1"},{"id":"ebb2f574.863de8","type":"mongodb-config","z":"","hostname":"localhost","port":"27017","db":"ESP","name":"Local"}]