Arquivos/mogol/Codigos fontes de Nodes que funcionam.txt
[{"id":"65da3e96.f2278","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2a3822f1.3de2fe","type":"template","z":"65da3e96.f2278","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <title>Control Engenharia - WebServer</title>\n        <meta charset\"utf=8\"/>\n    </head>\n    <body>\n        <img width=\"100px\" heigh=\"100px\" src=\"https://media-exp1.licdn.com/dms/image/C4D0BAQF3gFk8COpiGg/company-logo_200_200/0?e=2159024400&v=beta&t=k6bmHym8a3ctnr1MmkvdPbucEvXjKd1hFCyJzVI_PTA\">\n        <h1>Página 1 </h1>\n        <p>Linha 1</p>\n        <p><strong>Negrito </strong>Linha 1</p>\n        <p><em>Italico </em>Linha 1</p>\n        <p><u>sublinhado </u>Linha 1</p>\n        <p>Linha<br/>Enterlinha</p>\n    </body>\n</html>","output":"str","x":380,"y":240,"wires":[["63e1d4e6.327c0c"]]},{"id":"bf4ef345.82807","type":"http in","z":"65da3e96.f2278","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":190,"y":240,"wires":[["2a3822f1.3de2fe"]]},{"id":"63e1d4e6.327c0c","type":"http response","z":"65da3e96.f2278","name":"","statusCode":"","headers":{},"x":620,"y":240,"wires":[]},{"id":"97904c3e.82571","type":"inject","z":"65da3e96.f2278","name":"","topic":"","payload":"15:35","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["490308a.3b392f8"]]},{"id":"d79fb837.393dc8","type":"debug","z":"65da3e96.f2278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"490308a.3b392f8","type":"mongodb-node","z":"65da3e96.f2278","mongodb":"d1f8124.9cc5af","name":"Servidor Local","collection":"papa","operation":"insert","upsert":false,"multi":false,"x":400,"y":380,"wires":[["d79fb837.393dc8"]]}]