Arquivos/mogol/Codigo fonte codigo do Sandro.txt
[{"id":"30ed237e.5854dc","type":"tab","label":"JEO5","disabled":false,"info":""},{"id":"1bd9ee3f.2b80c2","type":"mqtt in","z":"30ed237e.5854dc","name":"","topic":"JE05/pub","qos":"2","datatype":"auto","broker":"40f45f2f.51","x":200,"y":200,"wires":[["33347b4d.c03844"]]},{"id":"33347b4d.c03844","type":"json","z":"30ed237e.5854dc","name":"","property":"payload","action":"","pretty":false,"x":290,"y":300,"wires":[["91381774.19f4d8","30d77bed.ab69f4","7bf50cf3.2038b4","8b535843.eaee28","3ea8f179.2608ae","28f86e11.b36672","5190e200.70ae4"]]},{"id":"91381774.19f4d8","type":"function","z":"30ed237e.5854dc","name":"","func":"var FREQ={payload:msg.payload.DATA.FREQ.toString()/100};\n\nreturn FREQ;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[["f4d558ad.bdf608"]]},{"id":"f4d558ad.bdf608","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"de5f873d.c7dd58","order":1,"width":0,"height":0,"gtype":"gage","title":"Frequência","label":"units","format":"{{value}}","min":"10","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":360,"wires":[]},{"id":"326c60af.cfcf1","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"de5f873d.c7dd58","order":2,"width":0,"height":0,"gtype":"gage","title":"Tensão","label":"units","format":"{{value}}","min":"10","max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":400,"wires":[]},{"id":"30d77bed.ab69f4","type":"function","z":"30ed237e.5854dc","name":"","func":"var VARMS={payload:msg.payload.DATA.VARMS.toString().\nslice(0,1000)};\n\nreturn VARMS;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["326c60af.cfcf1"]]},{"id":"7bf50cf3.2038b4","type":"function","z":"30ed237e.5854dc","name":"","func":"var KWHA={payload:msg.payload.DATA.KWHA.toString().\nslice(0,100000)};\n\nreturn KWHA;","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["d11d2134.adca2"]]},{"id":"d11d2134.adca2","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"de5f873d.c7dd58","order":3,"width":0,"height":0,"gtype":"gage","title":"KWHA","label":"units","format":"{{value}}","min":0,"max":"80000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":440,"wires":[]},{"id":"8b535843.eaee28","type":"function","z":"30ed237e.5854dc","name":"","func":"var FPT={payload:msg.payload.DATA.FPT.toString()/1000};\n\nreturn FPT;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[["9c9b0a8.05ffef8"]]},{"id":"9c9b0a8.05ffef8","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"8a6e288e.f63bd8","order":4,"width":0,"height":0,"gtype":"gage","title":"FPT","label":"units","format":"{{value}}","min":0,"max":"2","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":480,"wires":[]},{"id":"3ea8f179.2608ae","type":"function","z":"30ed237e.5854dc","name":"","func":"var SERRS={payload:msg.payload.DATA.SERRS.toString()};\n\nreturn SERRS;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["1e3ea053.a1b5c"]]},{"id":"1e3ea053.a1b5c","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"8a6e288e.f63bd8","order":5,"width":0,"height":0,"gtype":"gage","title":"SERRS","label":"units","format":"{{value}}","min":0,"max":"30000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":520,"wires":[]},{"id":"28f86e11.b36672","type":"function","z":"30ed237e.5854dc","name":"","func":"var WRSSI={payload:msg.payload.DATA.WRSSI.toString()};\n\nreturn WRSSI;","outputs":1,"noerr":0,"x":470,"y":560,"wires":[["8689c761.179ac8"]]},{"id":"8689c761.179ac8","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"8a6e288e.f63bd8","order":6,"width":0,"height":0,"gtype":"gage","title":"WRSSI","label":"units","format":"{{value}}","min":"-80","max":"-60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":560,"wires":[]},{"id":"5190e200.70ae4","type":"function","z":"30ed237e.5854dc","name":"","func":"var KWHT={payload:msg.payload.DATA.KWHT.toString()};\n\nreturn KWHT;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["56441d03.645be4","704bcdcd.5b5da4"]]},{"id":"56441d03.645be4","type":"ui_gauge","z":"30ed237e.5854dc","name":"","group":"de5f873d.c7dd58","order":1,"width":0,"height":0,"gtype":"gage","title":"KWHT","label":"units","format":"{{value}}","min":"10","max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":320,"wires":[]},{"id":"8ac82373.ee2ad","type":"debug","z":"30ed237e.5854dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":200,"wires":[]},{"id":"704bcdcd.5b5da4","type":"mongodb-node","z":"30ed237e.5854dc","mongodb":"d1f8124.9cc5af","name":"Servidor Local","collection":"papa","operation":"insert","upsert":false,"multi":false,"x":670,"y":200,"wires":[["8ac82373.ee2ad"]]},{"id":"40f45f2f.51","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.31","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"de5f873d.c7dd58","type":"ui_group","z":"","name":"Medições","tab":"8e9469b5.bd4408","order":1,"disp":true,"width":"6","collapse":false},{"id":"8a6e288e.f63bd8","type":"ui_group","z":"","name":"Medições 2","tab":"8e9469b5.bd4408","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e9469b5.bd4408","type":"ui_tab","z":"","name":"JE05","icon":"dashboard","disabled":false,"hidden":false}]